.git
.github
.vscode
node_modules
.next
out
build

.env
.env.*
*.pem
*.log

scripts

Dockerfile*
docker-compose*.yml
pnpm-lock.yaml
yarn.lock
bun.lockb
.pnp
.pnp.*
.DS_Store
*.tsbuildinfo
next-env.d.ts

prisma.config.ts